<mat-card class="chat">
    <h3 *ngIf="userData.main && authorized">Current pizza: <b>{{ word }}</b></h3>
    <h3 *ngIf="!userData.main && authorized">Answer should be exact match
    </h3>
    <div class="chat-body" id="messages">
        <div *ngIf="messages.length == 0">No messages</div>
        <div *ngFor="let message of messages" class="message">
            <div class="message-header">
                <span>{{message.senderName}}</span>
                <span [ngStyle]="{'color': message.time > 30 ? '#53f436' : (message.time < 31 && message.time > 10 ? '#f4ee36' : '#f44336' )}">{{message.time}}s</span>
            </div>
            <div class="message-content">
                <span>{{message.text}}</span>
                <div class="hint-buttons" *ngIf="userData.main">
                    <button mat-stroked-button [disabled]="!authorized || message.hotness == 1" (click)="messageHotness(message, -1)">
                        <mat-icon style="color: #f44336;">thumb_down_alt</mat-icon>
                    </button>
                    <button mat-stroked-button [disabled]="!authorized || message.hotness == -1" (click)="messageHotness(message, 1)">
                        <mat-icon style="color: #53f436;">thumb_up_alt</mat-icon>
                    </button>
                </div>
                <div class="hint-icons" *ngIf="!userData.main">
                    <mat-icon *ngIf="message.hotness == -1" style="color: #f44336;">thumb_down_alt</mat-icon>
                    <mat-icon *ngIf="message.hotness == 1" style="color: #53f436;">thumb_up_alt</mat-icon>
                    <mat-icon *ngIf="message.hotness == 0">query_builder</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-actions">
        <form (ngSubmit)="sendMessage()">
            <mat-form-field>
                <input autofocus matInput placeholder="Answer" [(ngModel)]="message.text" [disabled]="!authorized" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <button mat-mini-fab aria-label="Send" (click)="sendMessage();" [disabled]="!authorized">
                <mat-icon>send</mat-icon>
            </button>
        </form>
    </div>
</mat-card>