.chat {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 10px;
    margin-top: 0px;
    min-width: 360px;
}

.mobile.chat {
    min-width: 0px;
    margin: 0px;
    margin-bottom: 10px;
    height: 260px;
}

.chat-body {
    flex: 9;
    padding: 10px;
    overflow: auto;
}

.message {
    padding: 3px 5px 5px 5px;
    margin-bottom: 5px;
    background-color: #303030;
    border-radius: 5px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.hint-icons {
    padding: 10px;
}

.chat-actions {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.chat-actions form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.chat-actions mat-form-field {
    width: 100%;
    margin-left: 10px;
}

.chat-actions button {
    margin: 0px 10px;
}

.message-header {
    font-size: 13px;
    color: #717171;
}

.message-header span {
    margin-right: 5px;
}

.message-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile .pizza-deck {
    margin: 10px 0px;
}

.mobile .toppings-bar {
    margin: 10px 0px;
}