<div class="chat">
    <div class="chat-body" id="messages">
        <div *ngFor="let message of messages">
            <div class="message-header">
                <span>{{message.senderName}}</span>
                <span>{{message.time}}s</span>
            </div>
            <div class="message-content">
                <span>{{message.text}}</span>
                <div class="hint-buttons">
                    <button mat-stroked-button color="accent" [disabled]="!authorized">
                        <mat-icon>thumb_down_alt</mat-icon>
                    </button>
                    <button mat-stroked-button color="warn" [disabled]="!authorized">
                        <mat-icon>thumb_up_alt</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-actions">
        <form (ngSubmit)="sendMessage()">
            <mat-form-field>
                <input autofocus matInput placeholder="Answer" [(ngModel)]="message.text" [disabled]="!authorized" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <button mat-mini-fab aria-label="Send" (click)="sendMessage();" [disabled]="!authorized">
                <mat-icon>send</mat-icon>
            </button>
        </form>
    </div>
</div>