<div class="header-strip">
    <div class="typewriter">
        <h1>
            Collab It! 🍕🍕🍕 Pizza Edition 🍕🍕🍕
        </h1>
    </div>
    <div class="game-info">
        <h1>Time Remaining: <span [ngStyle]="{'color': time > 30 ? '#53f436' : (time < 31 && time > 10 ? '#f4ee36' : '#f44336' )}">{{time}}s</span>
        </h1>
    </div>
</div>
<div class="content">
    <div class="drawing-field">
        <drawing-field [pizzaData]="pizzaData"></drawing-field>
    </div>
    <div class="side-column">
        <div class="chat-guesses">
            <chat-guesses [authorized]="authorized" [userData]="userData" [messages]="messages" [time]="time" [word]="word">
            </chat-guesses>
        </div>
        <div class="scores">
            <user-scores [players]="players"></user-scores>
        </div>
    </div>
</div>

<!--style="border: 1px solid tan;"-->