<div class="header-strip">
    <div class="typewriter">
        <h1>
            Collab It!
        </h1>
    </div>
</div>
<div class="content">
    <div class="drawing-field">
        <drawing-field></drawing-field>
    </div>
    <div class="side-column">
        <div class="chat-guesses">
            <chat-guesses [authorized]="authorized" [userData]="userData"></chat-guesses>
        </div>
        <div class="scores">
            <user-scores></user-scores>
        </div>
    </div>
</div>

<!--style="border: 1px solid tan;"-->