.toppings-bar {
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.toppings-bar h2 {
    height: 55px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.toppings-scroll {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.toppings {
    margin-left: 10px;
    margin-bottom: 10px;
}

.sauce {
    margin-top: 10px;
}

.pizza-deck {
    margin-left: 10px;
    height: 745px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: flex-start;
}

.pizza {
    margin-left: 10px;
    height: 600px;
    width: 600px;
    background-image: url("../../../../assets/img/base.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    transform: none !important;
}

.pizza img {
    position: absolute;
}

.topping {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: none !important;
}

.drag-item {
    background-color: #303030;
    border-radius: 5px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-top: 10px;
    padding: 0px 10px 0px 0px;
    cursor: move;
}

.drag-item span {
    margin-left: 5px;
}

.toppings-bar .drag-item {
    margin: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: default;
    user-select: none;
}

.toppings-bar .drag-item button {
    margin-left: 5px;
    margin-right: -5px;
}

.drag-placeholder {
    display: none;
}

/deep/ .cdk-drag-placeholder {
    display: none !important;
    height: 0px !important;
    width: 0px !important;
    position: absolute !important;
    transform: none !important;
}

/deep/ .drag-item.cdk-drag-disabled {
    opacity: 0.3;
    user-select: none;
}

.mobile.pizza-deck {
    margin: 10px 0px;
    padding: 5px;
    font-size: 12px;
    justify-content: space-around;
}

.mobile.toppings-bar {
    margin: 10px 0px;
    padding: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.mobile .toppings-scroll {
    flex-direction: row;
    overflow-x: auto;
    max-width: calc(100vw - 10px);
    flex-wrap: nowrap;
    align-items: start;
}