@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
* {
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-weight: 100;
}

html {
    height: 100%;
    position: relative;
}

body {
    margin: 0;
    font-family: 'Special Elite', cursive;
    color: rgba(255, 255, 255, 0.7);
    background-color: #303030;
}