<mat-card class="score-tabs">
    <mat-tab-group>
        <mat-tab label="Players">
            <div>
                <div *ngFor="let player of players; let i = index" class="player">
                    <span *ngIf="i == 0">🥇</span>
                    <span *ngIf="i == 1">🥈</span>
                    <span *ngIf="i == 2">🥉</span>
                    <span *ngIf="i > 2">🏅</span>
                    <span> <b>{{ player.UserName }}</b>:</span>
                    <span> {{ player.score }} points</span>
                    <span *ngIf="i == 0">🥇</span>
                    <span *ngIf="i == 1">🥈</span>
                    <span *ngIf="i == 2">🥉</span>
                    <span *ngIf="i > 2">🏅</span>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Leaders">
            <div>
                <p *ngFor="let player of players"> {{ player.UserName }}</p>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>